#eye {
    position: relative; /* Do it exactly as you would normally do it but I have the position tag*/
    left: 40px;
}

#oval {
    position: absolute;
    width: 200px;
    height: 100px;
    background: beige;
    border-radius: 100px / 50px;
    border: solid 2px;
    border-color: black;
}

#circle {
    position: absolute;
    left: 40px;
    top: 20px;
    width: 80px;
    height: 80px;
    background: blueviolet;
    border-radius: 50%
}

#pupil {
    position: absolute;
    left: 20px;
    top: 30px;
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%
}
